// colors
$base-color-blue: #082B6F;
$base-color-blue-light: #2767B8;

$text-color-group-heading: #FBF9FE;
$text-color-column-heading: #90A1D5;
$text-color-cell: #29292A;
$text-color-cell-dark: #030303;

$colum-base-background-color:#F5F5F5;
$colum-sum-background-color:#EEEEEE;
$colum-border-color-grey-dark: #D9D9D9;
$colum-border-color-dark: #030303;
