@import "../../styles/_variables.scss";

$right-border: 2px solid rgba($colum-border-color-dark, 0.2);
$right-border-lighter: 2px solid rgba($colum-border-color-dark, 0.1);

.DataTable-container {
  background-color: $colum-base-background-color;
  width: 100%;
  border-spacing: 0;
}

.DataTableHeader-row {

  background-color: $base-color-blue;

  th {
    padding: 1.3em 1em 1em 1em;
  }

  &.group-heading th {
    color: $text-color-group-heading;
    text-transform: uppercase;
    font-weight: 400;

    &:first-child {
      border-right: $right-border;
      text-align: left;
    }

    &:last-child {
      text-align: center;
    }
  }

  &.column-heading th {
    color: $text-color-column-heading;
    font-weight: 100;
    text-align: right;
    border-bottom: 3px solid rgba($colum-border-color-dark, 0.75);

    &:nth-child(-n+2) {
      text-align: left;
    }

    &:nth-child(2) {
      border-right: $right-border;
    }
  }
}

.DataTableBody-Row {

  td {
    &:nth-child(-n+2) {
      text-align: left;
    }

    &:nth-child(2) {
      border-right: $right-border-lighter;
    }

    color: $text-color-cell;
    text-align: right;
    padding: 0.5em 1em 0.5em 1em;
  }

  &.display-as-total-row {
    background-color: $colum-sum-background-color;
    
    td {
      color: $text-color-cell-dark;
      font-weight: 400;
      border-top: 1px solid $colum-border-color-grey-dark;
      border-bottom: 1px solid $colum-border-color-grey-dark;
    }
  }
}

// Row spacing adjustments
.DataTableHeader-row + .DataTableBody-Row td,
.display-as-total-row + .DataTableBody-Row td {
  padding-top: 1.25em;
}

.DataTableBody-Row:has(+.display-as-total-row) td {
  padding-bottom: 1.25em;
}