@import "../../styles/_variables.scss";

.DataTable-container {
  background-color: $colum-base-background-color;
  width: 100%;
  border-spacing: 0;
}

.DataTableHeader-row {
  $right-border: 2px solid rgba($colum-border-color-dark, 0.25);

  background-color: $base-color-blue;

  th {
    padding: 1.3em 1em 1em 1em;
  }

  &.group-heading th {
    color: $text-color-group-heading;
    text-transform: uppercase;
    font-weight: 400;

    &:first-child {
      border-right: $right-border;
      text-align: left;
    }

    &:last-child {
      text-align: center;
    }
  }

  &.column-heading th {
    color: $text-color-column-heading;
    font-weight: 100;
    text-align: right;
    border-bottom: 2px solid rgba($colum-border-color-dark, 0.15);

    &:nth-child(-n+2) {
      text-align: left;
    }

    &:nth-child(2) {
      border-right: $right-border;
    }
  }
}
